.MainQuestsPage {
  box-sizing: border-box;
  padding-top: 64px;
  height: 100%;

  overflow: auto;

  position: relative;

  .loading-container {
    // width: 300px;
    // height: 300px;
    // font-size: 32px;
    display: flex;
    justify-content: center;

    :global .ant-card-body {
      & > :not(:first-child) {
        margin-top: 16px;
      }
    }

    .loading-icon {
      width: 100%;
      display: flex;
      justify-content: center;
      font-size: 128px;

      box-sizing: border-box;
      padding: 16px;
    }
  }

  .background {
    width: 100%;
    height: 65%;
    position: absolute;
    bottom: 0px;
    z-index: -1;
  }

  & > :not(:first-child) {
    margin-top: 64px;
  }

  .header {
    display: flex;
    align-items: center;
    justify-content: center;

    font-size: 48px;
    font-weight: bold;
  }

  .quests {
    display: flex;
    justify-content: center;
    align-items: center;

    & > :not(:first-child) {
      margin-left: 12px;
    }

    // :global .ant-card-body {
    //   //
    // }

    .card-container {
      // padding-bottom: 100px;
      height: 200px;
      width: 400px;

      position: relative;

      .card-content {
        box-sizing: border-box;
        padding: 16px;
        padding-bottom: 64px;
        height: 100%;

        overflow: auto;

        // max-width: 100%;

        & > :not(:first-child) {
          margin-top: 8px;
        }

        .fun-facts {
          // white-space: pre-wrap;
        }
      }

      .card-footer {
        height: 50px;
        width: 100%;
        background: linear-gradient(0deg, white 80%, transparent);

        position: absolute;
        bottom: 0px;

        display: flex;
        justify-content: center;
        align-items: center;

        padding: 8px;
        box-sizing: border-box;
      }
    }
  }

  .anim-init {
    opacity: 0;

    transition: opacity 1s;

    &.anim-fade {
      opacity: 1;
    }
  }

  .RegenerateOptions {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    color: white;

    & > :not(:first-child) {
      margin-top: 12px;
    }
  }
}
